/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --twitter-color: #1da1f2;
}

body{
    color: #0f1419;
    -webkit-font-smoothing: antialised;
}

body, input, textarea, button{
    font: 400 1rem "Roboto", san-serif;
}

button{
    cursor: pointer;
}

a{
    color: inherit;
}

/* twitter page */
.layout {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 300px 1fr;
}

.content{
    border-left: 1px solid #ebeef0;
    border-right: 1px solid #ebeef0;
}

.timeline-header{
    padding: 1.5rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: 700;
    border-bottom: 1px solid #ebeef0;
}

.timeline-header svg{
    width: 1.5rem;
    height: 1.5rem;
    color: var(--twitter-color);
}

.new-tweet-form{
    padding: 1.5rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.new-tweet-form label{
    display: flex;
    gap: .75rem;
}

.new-tweet-form label img{
    border-radius: 9999px;
    width: 3rem;
    height: 3rem;
}

.new-tweet-form label textarea{
    flex: 1;
    font-size: 1.25rem;
    font-weight: 400;
    border: none;
    outline: none;
    margin-bottom: .75rem;
    resize: none;
}

.new-tweet-form label textarea::placeholder{
    color: #5b7083;
}

.new-tweet-form button[type=submit]{
    margin-left: auto;
    background: var(--twitter-color);
    border: none;
    border-radius: 9999px;
    font-weight: 700;
    font-size: 1rem;
    color: #ebeef0;
    padding: 0.75rem 1rem;
}

.new-tweet-form button[type=submit]:hover{
    filter: brightness(.9);
}

.separator {
    background: #f7f9fa;
    border-top: 1px solid #ebeef0;
    border-bottom: 1px solid #ebeef0;
    height: 0.5rem;
}

